<!DOCTYPE html>
<html>
<head>
	<title>404 error</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron bg-dark">
  <h1 class="display-4 bg-light" style="padding:5%;border-radius: 5px">Page Not Found</h1>
  <p class="lead bg-light">The Page you are looking for either does not exist or you have misspelled it.</p>
  <hr class="my-4">
  <p style="color:white">If you have gotten here by typing in the url.
  Then you shouldn't be here, just be sure to use the given links.<br> Don't specifically type in the url</p>
  <p class="lead">
    <a class="btn btn-light btn-lg" href="/" role="button">Go Back To Homepage</a>
  </p>
</div>
</body>
</html>